
    $primary: rgb(133,180,208);
    $white: rgb(255, 255, 255);
    $background: hsl(271, 8, 100);
    $secondary: rgb(80, 102, 115);
    $sidebar-header: rgb(119, 162, 187);
    $button: rgb(119, 162, 187);
    $sidebar-size: 200px;
    $app-header-height: 60px;
    $hover: rgb(90, 112, 125);
    $text-color: rgba(120, 120, 120, .7);
    $borde-color: rgba(100, 100, 100, .3);
  
  