


.container {
  display: grid;
  grid-template-areas:
    "pageLeft topBar"
    "pageLeft pageRight";

  grid-template-columns: 200px 1fr;
  grid-template-rows: 60px 1fr;
}

.topBar {
  grid-area: topBar;
}


// left part of the app

.pageLeft {
  grid-area: pageLeft;
  display: grid;
  grid-template-areas:
  "user"
  "navLink";
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;

  .user {
    grid-area: user;    
    
  }

  .navLink {
    grid-area: navLink;
  }





}

.pageRight {
  grid-area: pageRight;

}

.card{
  display: grid;
  grid-template-areas: 
  "image info"
  "image info"
  "image action";
  .card-image{
    grid-area: image;

  }
  .card-info{
    grid-area: info;
  }
.action{
  grid-area: action;
}

}


@import 'topBar';
@import 'pageLeft';
@import 'pageRight';

// background-color: red;


// background: linear-gradient(to bottom left, rgba(255,255,255,.5),rgba(255,255,255,0.3));

// position: fixed;
// top: 60px;
// left: 0;
// bottom: 0;

// .glass {
//   height: 100%;
//   background-color: white;
//   background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
//   backdrop-filter: blur(2rem);
// }

// .page {
//   // background-color: yellow;
//   display: flex;
//   // margin-top: 60px;
//   height: 90vh;
//   width: 100%;
// }