.pageLeft {
  height: 100%;
  // box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);   
  border-bottom-left-radius: 20px;
  @include Glass(.1);
  .navLink {
    // background-color: yellow;  

    .link {
      @include Center;
      width: 100%;
      padding: .5rem 1rem;
      font-size: .8rem;
      margin: 1rem 0rem;
      font-weight: 600;
      color: black;
      text-decoration: none;

      // .icon {

      //   color: $secondary;
      //   color: white;
      // }

      .title {
        flex: 1;
        padding-left: .5rem;


      }

      &:hover {
      //  @include Glass(.5);
      background-color: #d893a3;

      }

    }
  }


}