:root {
  --primary: rgb(133,180,208);
  --white: rgb(255, 255, 255);
  --background: hsl(271, 8, 100);
  --secondary: rgb(80, 102, 115);
  --sidebar-header: rgb(119, 162, 187);
  --button: rgb(119, 162, 187);
  --sidebar-size: 200px;
  --app-header-height: 60px;
  --hover: rgb(90, 112, 125);
  --text-color: rgba(120, 120, 120, .7);
  --borde-color: rgba(100, 100, 100, .3);

}
/* :root {
  --black:        rgb(0, 0, 0);
  --darker-blue:  rgb(5, 5, 29);
  --dark-blue:    rgb(12, 12, 70);
  --light-blue:   rgb(13, 100, 176);
  --lighter-blue: rgb(180, 220, 255);
  --gray:         rgb(167, 167, 167);
  --light-gray:   rgb(210, 210, 210);
  --lighter-gray: rgb(243, 243, 243);
  --off-white:    rgb(252, 252, 252);
  --white:        rgb(255, 255, 255);
} */

  --white-
.app {
  background-color: var(--background);
}
.hide{
  display: none;
}
button {
  padding: 10px 15px;
  margin: 20px;
  background-color: var(--secondary);
  color: var(--white);
  border: 0;

}

/* .status{
  background-color: red;
  width: 200px;
  border-radius: 40px;
} */

.login{
  width: 100%;
  display: flex;
  height: 100vh;
  background-color: rgb(247,247,247);
  padding: 0 100px;

}
.login-image{
  flex: 50%;  
  display: flex;
  justify-content: center;
  align-items: center;

}
.login-image img{
  width: 80%;
  height: 50%;
  object-fit:contain;
 

}
.login-form{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* background-color: red; */
  
}
.login-form-title{
  /* background-color: yellow; */
  width: 50%;
  text-align: left;

}
.login-form-title p{
  color: rgb(172, 170, 170);
}
.login-form form{
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  /* align-items: center; */
}
.login-form form input{
  width: 100%;
  background-color: var(--white);
  height: 100%; 
  font-size: 1.3rem;
  outline: none;
  padding: .5em;
  padding-left: 27px;
  border: 1px solid var(--primary);
  

}
input::placeholder{
  margin: 0;
  padding: 0;
  
}
.input-container{
  width: 70%;
  position: relative;
  height: 40px;
  margin-top: 20px;
  background-color: red;
}

.input-container .input-icon{
  position: absolute;
  /* background-color: yellow; */
 padding: .5em;
  /* padding: 0 .3em; */
  width: 25px;
  left: 0;
  top: 0;
  bottom: 0;
  color: var(--secondary);
}
.btn-container{
  width: 70%;
  /* background-color: red; */
  display: flex;
 justify-content: center;
 align-items: center;
}
.login-form .btn{ 
 text-align: center;

}


a {
  color: inherit;
  font-style: inherit;
}

.link-btn {
  text-align: left;
  padding: 16px;
  font-style: none;
  text-decoration: none;
  gap: 10px;

}

.btn {
  list-style: none;
  text-decoration: none;
}

.btn:hover {
  color: var(--primary);
}

.app-header {
  background-color: var(--primary);
  margin-left: var(--sidebar-size);
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  height: var(--app-header-height);
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.avater-box {
  display: flex;
  align-items: center;
  /* background-color: red; */
  height: var(--app-header-height);
  margin-right: 20px;


}

.circular-avarter { 
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 15px;
}

.circular-avarter img {
  width: 100%;
  height: auto;
}

.app-link {
  color: #61dafb;
}

.sidenav {
  /* height: 100%; */
  width: var(--sidebar-size);
  position: fixed;
  height: 90vh;
  z-index: 1;
  top: 60px;
  left: 0;
  background-color: var(--secondary);
  overflow-x: hidden;
}

.sidenav-header {
  height: 60px;
  background-color: var(--sidebar-header);
}

.app-logo {
  height: 100%;
  display: flex;
  color: var(--white);
  gap: 10px;
  padding: 20px;
  align-items: center;
  text-align: center;

}

.logo {
  background-color: white;
  color: var(--primary);
  font-size: 28px;
  font-weight: bold;
  width: 40px;
  height: 40px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;

}




/* Side navigation links */
.app-link {
  display: flex;
  align-items: center;
  gap: 10px;
  /* padding-left: 20px;   */
  margin-top: 10px;

}

.icon {
  color: var(--primary) !important;
}

.app-link .link {
  color: white;
  text-align: left;
  padding: 16px;
  text-decoration: none;
  display: flex;
  gap: 10px;
  width: 100%;
  /* background-color: red; */
}

.active {
  border-left: solid 2px;
  background-color: var(--hover);
  color: var(--white);
}

/* Change color on hover */
.app-link:hover {
  background-color: var(--hover);
  color: var(--white);
}

/* Style the content */
.content {
  margin-left: var(--sidebar-size);
  /* position: relative; */

  background-color: var(--background);
 
}

.modal-window {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 20%;
  background-color: rgba(0, 0, 0, 0.3);
  display: block;
  transition: all 1s;
  z-index: 20;
}

.modal {
  width: 50%;
  height: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  /* padding: 15px;  */
  background-color: rgb(246, 246, 246);

}

.modal button {
  margin-left: 50px;
  cursor: pointer;
}

.modal button:hover {
  background-color: var(--primary);
}

.modal-header {
  background-color: var(--primary);
  text-align: center;
  padding: 10px;
  color: var(--white);
  position: relative;
  /* border-top-right-radius:  10px;
  border-top-left-radius:  10px; */
}

.modal-header .close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


.form {
  flex: 1;
  background-color: var(--background);

}

.modal form {
  height: 100%;
  background-color: var(--background);
  padding: 0 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.inline {
  display: flex;
  padding-top: 1em;
  gap: 1em;
  width: 100%;
  /* background-color: red; */

}

.input-control {
  display: flex;
  flex: 1;
  gap: 20px;
  justify-content: space-between;
  /* width: 100%; */
  /* background-color: yellow; */
}

.inline input,
.inline select{
  flex: 1;
  box-sizing: border-box;
  font-size: 17px;
  border: 1px solid #d6d6d6;
  outline: none;
  height: 34px;
  padding-left: .5;
  padding-right: .5em;
}

.inline input[type='text'] {
  background-color: white;

}
.inline textarea{
  height: 100px;
  flex: 1;
  box-sizing: border-box;
  font-size: 17px;
  border: 1px solid #d6d6d6;
  outline: none;  
  padding: .5em;
  
}


.inline .label {
  width: 80px;
  text-align: right;
  /* background-color: green; */
}

.input-control select {
  flex: 1;


}

::-webkit-input-placeholder {
  color: #d9d9d9;
}

select:invalid {
  color: #d9d9d9;
}

.content:hover>.modal-window {
  display: block;
}

.mini-header {
  background-color: var(--white);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  margin-bottom: 20px;

}

.mini-header h2 {
  color: rgb(118, 118, 118);
}

.mini-header span {
  color: var(--primary);
}

.table-container {
  background-color: var(--white);
  color: var(--text-color);
  /* margin: 15px; */
}

.table-container h3 {
  color: gray;
}


.table {
  width: 100%;  
  border-collapse: collapse;
  background-color: var(--white);
  padding: 0;
  margin-top: 10px;
}


.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;

}
table{
  overflow-x: auto;
}

.table th {
  text-transform: capitalize;
  color: gray;
}

.table td,
th {
  border-bottom: 1px solid var(--borde-color);
  text-align: left;
  padding: 1em;
  padding-left: 5px;
}

.table tbody tr{
  border-left: .5em solid;
}


.edit-btn, .del-btn{
  background-color: red;
  color: white;
  padding: .3rem;
  margin-left: .5em;
  font-size: 17px;
  cursor: pointer;
}
.edit-btn{
  background-color: var(--secondary);
  color: white;
}

tr:nth-child(even) {
  background-color: rgba(100, 100, 100, .1);
  /* color: var(--white); */
}

.profile {
  display: flex;
  margin: 30px;
  gap: 20px;
}

.profile-data {
  width: 350px;
  /* background-color: rgb(166, 154, 172); */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.16);
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;


}

.profile-image {
  /* background-color: red; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit:fill;
  margin: auto;
}

.profile-title {
  color: white;
  margin-bottom: 5px;

}
/* .profile-image label{
  display: block;
  background-color: var(--secondary);
  color: var(--white);
  width: 150px;
  margin-top: 10px;
  border-radius: 5px;
  padding: .5em;
  font-weight: 600;
} */
/* .profile-image label:hover{
 background-color: var(--primary);

} */

.profile-info {
  background-color: var(--white);
  width: 100%;
  padding: 10px;

}

.profile .form-control {
  display: flex;
  flex-direction: column;
  /* margin-top: 20px; */
}

.profile .form-control label {
  padding: .2em 0;
}

.profile .form-control:first-child {
  padding-top: 0;
}

.profile .form-control input {
  border: 0;
  border-bottom: 1px solid var(--borde-color);
  /* padding: 5px 0; */

  outline: none;
}

@media screen and (max-width: 800px) {
  .sidenav{
    display: none;
  }
  .app-header{
    margin-left: 0;
  }
  .content{
   margin: 0;
  }

}