.table-container{
    width: 98%;
    height: 95%;
    font-size: .8rem;
    font-weight: 400;
   
    color: black;
    // @include Glass(.35);
    

    .table_header {
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        color: white;
        // background-color: #fff4;
        padding: .8rem 1rem;
    }

    .table_body {
        width: 80vw;
        min-height: calc(89% - 1.6rem);        
        @include Glass(.1);       
        border-radius: .6rem;
        overflow:auto;

        &::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.5rem;

        }

        &::-webkit-scrollbar-thumb {
            border-radius: 0.5rem;
            background-color: #0004;
            visibility: hidden;


        }

        &:hover::-webkit-scrollbar-thumb {
            visibility: visible;


        }

    }

    table {
        width: 100%;        
        border-collapse: collapse;
        background-color: yellow;       
        padding: .5rem;
       thead{
        // display: block;
        width: 100%;
        background-color: #006b21;
        tr{
            display: block;
            background-color: pink;
        width: 100%;
        }
       }

        td {
            img {
                width: 36px;
                height: 36px;
                margin-right: 0.5em;
                border-radius: 50%;
                vertical-align: middle;
            }
        }

        th,
        td {
            
            border-collapse: collapse;
            padding: 1rem;
            text-align: left;
            
        }

        thead {
            th {
                // position: sticky;
                top: 0;
                left: 0;
                @include Glass(.5)
                // background-color: #d5d1defe;
            }
        }

        tbody {
            // display: block;
            width: 100%;
            background-color: red;
            height: 80px;
            tr{
                &:nth-child(even) {                   
                    @include Glass(.5)
                }
                &:hover {
                    background-color: #fff6;
                }
            }
            td{
                .action{
                    display: flex;
                    color: white;
                }
                .btn{
                    background-color: $btn;                   
                    color: white;
                }
            }
        }

        // -------Table
    }
}











//   tbody tr
// tbody tr

.status {
    padding: 0.4rem;
    border-radius: 2rem;

}


.status .delever {
    background-color: #86e49d;
    color: #006b21;

}

@media(max-width:1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem
    }
}

// @media screen and (max-width: 576px) {
//     header {
//         width: 100%;
//         background-color: red;
//     }
  
//     .sidenav {
//         display: none;
//     }
  
//     .app-header {
//         margin-left: 0;
//     }
  
    
  
//     thead {
//         display: none;
//     }
  
//     tr {
//         margin-bottom: 2em;
//     }
  
//     td {
//         display: block;
  
//     }
  
//     td:before {
//         content: attr(data-cell) ":";
//         padding-right: .5em;
//     }
  
//   }